<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
	
	<display-name>Cloudant DB Web Starter</display-name>
  <servlet>
    <servlet-name>javax.ws.rs.core.Application</servlet-name>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
<servlet-mapping>
    <servlet-name>javax.ws.rs.core.Application</servlet-name>
    <url-pattern>/api/*</url-pattern>
</servlet-mapping>
  
  <servlet>
  	<servlet-name>DesafioServlet</servlet-name>
  	<servlet-class>controller.DesafioServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>DesafioServlet</servlet-name>
    <url-pattern>/Desafios</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Ideas</servlet-name>
  	<servlet-class>controller.IdeasServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Ideas</servlet-name>
  	<url-pattern>/Ideas</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>DesafioActividadServlet</servlet-name>
  	<servlet-class>controller.DesafioActividadServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>DesafioActividadServlet</servlet-name>
  	<url-pattern>/Desafio</url-pattern>
  </servlet-mapping>
  
  <session-config>
  	<session-timeout>30</session-timeout>
  </session-config>
 
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>CoordinacionRutasServlet</servlet-name>
		<servlet-class>com.upy.servlets.CoordinacionRutasServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CoordinacionRutasServlet</servlet-name>
		<url-pattern>/coordinacion-rutas</url-pattern>
	</servlet-mapping>
	
</web-app>